{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>KCC Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- inject:css -->

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon.png" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'home' %}"><img style="height: 40px; width:40px" src="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon_new.png" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img style="height: 40px; width:40px" src="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon_new.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <!--<input name="q" type="text" placeholder="Search...">-->
                    <input name="search" type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                </form>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/faces/face21.jpg' %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <!--<a class="dropdown-item">-->
                <!--<i class="ti-settings text-primary"></i>-->
                <!--Settings-->
              <!--</a>-->
              <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a href="{% url 'home' %}" class="nav-link" href="pages/tables/basic-table.html">-->
<!--              <i class="ti-view-list-alt menu-icon"></i>-->
<!--              <span class="menu-title">Participants</span>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a href="{% url 'participants' %}" class="nav-link">
              <i class="ti-layout-list-post menu-icon"></i>
              <span class="menu-title">Add Participants</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Participants</h4>
                    {% if participants %}
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="table-head">Name</th>
                                        <th class="table-head ">Email</th>
                                        <th class="table-head ">College</th>
                                        <th class="table-head ">Zone</th>
                                        <th class="table-head">Stream</th>
                                        <th class="table-head ">Subregion</th>
                                        <th class="table-head ">DOB</th>
                                        <th class="table-head ">Fee Status</th>
                                        <th class="table-head ">PhoneNumber</th>
                                        <th>Edit</th>

                                        <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>

                      {% for participant in participants %}
                      <tr>
                          <td class="">{{ participant.name }}</td>
                                        <td class="">{{ participant.email }}</td>
                                        <td class="">{{ participant.college }}</td>
                                        <td class="">{{ participant.zone }}</td>
                                        <td class="">{{ participant.stream }}</td>
                                        <td class="">{{ participant.subregion }}</td>
                                        <td class="">{{ participant.dob }}</td>
                                        {% if participant.fee_status == 'paid' %}
                                            <td style="color: green" class="">{{ participant.fee_status }}</td>

                                        {% elif participant.fee_status == 'partially' %}
                                            <td style="color: blue" class="">{{ participant.fee_status }}</td>

                                        {% else %}
                                            <td style="color: red" class="">{{ participant.fee_status }}</td>
                                        {% endif %}
                                        <td class="">{{ participant.phoneNumber }}</td>
                                        <!--<a href=""><td><button class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button></td></a>-->
                                        <td><a class="btn btn-primary btn-xs" href="{% url 'edit_participant' participant.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                        <td><a class="btn btn-danger btn-xs" href="{% url 'delete_participant' participant.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                       {% endfor %}

                      </tbody>
                    </table>
                    {% if participants.has_other_pages %}
  <ul class="pagination">
    {% if participants.has_previous %}
      <li class="page_li "><a class="btn btn-primary btn-xs" href="?page={{ participants.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page_li disabled "><span class="btn btn-primary btn-xs">&laquo;</span></li>
    {% endif %}
    {% for i in participants.paginator.page_range %}
      {% if participants.number == i %}
        <li class="page_li active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page_li active"><a class="btn btn-primary btn-xs" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if participants.has_next %}
      <li class="page_li active "><a class="btn btn-primary btn-xs" href="?page={{ participants.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page_li disabled "><span class="btn btn-primary btn-xs">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                  </div>
                    {%else%}
                        <div class="alert alert-info">
                        No participants Found
                        </div>
                    {%endif%}
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="" target="_blank">KCC</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
