<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>KCC - Jesus Youth</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon.png" rel="icon">
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
<!--  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">-->

  <!-- Bootstrap CSS File -->
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/lib/animate/animate.min.css" rel="stylesheet">
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/lib/venobox/venobox.css" rel="stylesheet">
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="https://kccstyles.s3.us-east-2.amazonaws.com/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
<!--          <li><a href="#gallery">Gallery</a></li>-->
            <li><a href="#contact">Prayer</a></li>
            <li><a href="#buy-tickets">About Us</a></li>
            <li><a href="#faq">Mission 2020</a></li>
            <li><a href="http://jesusyouth.org/" target="_blank">Jesus Youth</a></li>
            <li><a href="https://www.facebook.com/keralacampusministry/" target="_blank">Campus Ministry</a></li>
            <!--<li><a href="#schedule">Mission 2020</a></li>-->
          <li><a href="{% url 'login' %}" target="_blank">login</a></li>


        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Jesus Youth<br><span>Kerala Campus Conference</h1>
      <p class="mb-4 pb-0">August 22 - 25, 2019, Bharata Mata College, Thrikkakara</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
              accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
              est ut optio sequi unde.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Bharata Mata College, Thrikkakara</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>August 22 - 25, 2019</p>
          </div>
        </div>
      </div>
    </section>


    <!--==========================
      Gallery Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Let us Pray Together</h2>
          <p>O Lord God, let the campuses be filled with young missionaries<br/>
              blessed with the sprit of the father, the love of the Christ<br/>
             and anointing of the Holyspirit.<br/>
           Hail Mary,intercede for us.</p>
        </div>




      </div>
    </section>
    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2></h2>
          <p>"But you will receive power when the Holy Spirit comes upon you" - Acts 1:8</p>
        </div>
      </div>
    </section>

    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
          <div class="section-header">
          <h2>About Us</h2>
         <h3 style="text-align:center">Greetings in the name of Jesus.</h3>
    <p>
      With great joy of being immersed in the innumerable blessings that has been showered upon us, Kerala Campus
      Ministry is letting you know about Kerala Campus Conference 2019 (KCC19).
    </p>
    <p>
      Being a ministry that has played a key role in the movement in forming young missionaries, we assumed that we have
      a need of gathering campus leaders from all over the state to celebrate and share happiness about our missionary
      call to do the mission of Christ and also motivate others to do the same. This conference will be a gathering of
      such kind of people who are doing mission by proclaiming Jesus in various campuses so that they can learn, feel
      and teach different things each other which are helpful in their ministering.
    </p>
    <p> Bring your 5 loaves and 2 fish and let Him multiply those into abundance in our campuses.</p>

    <p> See you there at Bharata Mata College, Thrikkakara on August 22 - 25, 2019.</p>
        </div>
      </div>



    </section>
    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Mission 2020</h2>
        </div>

         <p>MISSION 2020 is a new step initiated by campus ministry kerala, with a dream of budding God's kingdom
          in each campuses of kerala. And its main aim is to build a youth with Christ centered life. We expect and
          hope that this will happen by the year 2020.Under this project many initiatives were already started in
          various regions with prayers.let us together built a new generation youth with a life in christ and with
            more social values.</p>

      </div>

    </section>
  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="https://kccstyles.s3.us-east-2.amazonaws.com/img/icon.png" alt="TheEvenet">
            <p>A ministry of Jesus Youth movement, serving higher education institutions in Kerala.</p>
          </div>




          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>

              <strong>Phone:</strong> +919400145873<br>
              <strong>Phone:</strong> +918589900478<br>
              <strong>Email:</strong>jykeralacampusconference@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/keralacampusministry/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>


          </div>
          <div class="col-lg-5 col-md-6 footer-links">
            <h4>Location</h4>
            <div class="container">
            <div class="row">

              <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=bharat%20math%20college&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>KCC</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="">KCC</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/jquery/jquery.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/jquery/jquery-migrate.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/easing/easing.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/superfish/hoverIntent.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/superfish/superfish.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/wow/wow.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/venobox/venobox.min.js"></script>
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="https://kccstyles.s3.us-east-2.amazonaws.com/js/main.js"></script>
</body>

</html>
